apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-backend-secret
  labels:
  {{- include "enbuild-helm-chart.labels" . | nindent 4 }}
type: Opaque
data:
  ENVIRONMENT: cHJvZAo=
  {{- if eq (printf "%s" .Values.global.auth_plugin | lower) "local" }}
  IS_LOCAL: {{ (printf "true" | b64enc ) }}
  {{- end }}
  {{- if .Values.global.disable_tls_gitlab }}
  NODE_TLS_REJECT_UNAUTHORIZED: {{ (printf "0" | b64enc ) }}
  {{- end }}

stringData:
  ENCRYPTION_KEY: "{{.Values.enbuildBk.encryption_key}}"
  {{- if .Values.lightning_features.deploy_lightning.ai_lightning }}
  OPENAI_API_KEY: "{{.Values.enbuildAI.api_key}}"
  MODEL_NAME: "{{.Values.enbuildAI.model_name }}"
  OLLAMA_ENDPOINT: "{{.Values.enbuildAI.ollama_endpoint }}"
  {{- end }}
  {{- if .Values.rabbitmq.enabled }}
  RABBIT_MQ_CONNECTION_STRING: amqp://{{.Values.rabbitmq.auth.username}}:{{.Values.rabbitmq.auth.password}}@{{ .Release.Name }}-rabbitmq:5672/
  {{- else }}
  RABBIT_MQ_CONNECTION_STRING: amqp://{{.Values.rabbitmq.auth.username}}:{{.Values.rabbitmq.auth.password}}@{{.Values.rabbitmq.host}}:5672/
  {{- end }}
  RABBIT_MQ_ENV: "{{ .Values.rabbitmq.env }}"
  RABBITMQ_QUEUE_PREFIX: "{{ .Values.rabbitmq.queue_prefix }}"

  {{- if .Values.enbuildConsumer.gitlab }}
  GITLAB_HOST: "{{ .Values.enbuildConsumer.gitlab.host }}"
  GITLAB_TOKEN: "{{ .Values.enbuildConsumer.gitlab.token }}"
  GITLAB_GROUP: "{{ .Values.enbuildConsumer.gitlab.gitlab_group }}"
  GITLAB_PROJECT_ID: "{{ .Values.enbuildConsumer.gitlab.gitlab_project_id }}"
  GITLAB_NAMESPACE_ID: "{{ .Values.enbuildConsumer.gitlab.gitlab_namespace_id }}"
  GITLAB_TOKEN_NAME: "{{ .Values.enbuildConsumer.gitlab.gitlab_token_name }}"
  GITLAB_REF: "{{ .Values.enbuildConsumer.gitlab.gitlab_ref }}"
  {{- end }}
  {{- if .Values.enbuildConsumer.github }}
  GITHUB_HOST: "{{ .Values.enbuildConsumer.github.host }}"
  GITHUB_HOST_URL: "{{ .Values.enbuildConsumer.github.hosturl }}"
  GITHUB_ACCOUNT: "{{ .Values.enbuildConsumer.github.github_account }}"
  GITHUB_TOKEN: "{{ .Values.enbuildConsumer.github.token }}"
  GITHUB_BRANCH: "{{ .Values.enbuildConsumer.github.branch }}"
  GITHUB_HOST_GQL_URL: "{{ .Values.enbuildConsumer.github.hostgql}}"
  GITHUB_MANIFEST_URL: "{{ .Values.enbuildConsumer.github.manifest_host }}"
  GITHUB_MANIFEST_ACCOUNT: "{{ .Values.enbuildConsumer.github.manifest_github_account }}"
  GITHUB_MANIFEST_REPO: "{{ .Values.enbuildConsumer.github.manifest_repo }}"
  GITHUB_MANIFEST_TOKEN: "{{ .Values.enbuildConsumer.github.manifest_token }}"
  GITHUB_MANIFEST_REF: "{{ .Values.enbuildConsumer.github.manifest_branch }}"
  GITHUB_MANIFEST_BRANCH: "{{ .Values.enbuildConsumer.github.manifest_branch }}"
    {{- if .Values.enbuildConsumer.github.github_es  }}
  IS_GITHUB_ES: "{{ .Values.enbuildConsumer.github.github_es }}"
  {{- end }}
  {{- end }}


  {{- if .Values.lightning_features.secure_lightning.ctf }}
  DEBUG: "{{ .Values.enbuildCTF.debug }}"
  MONGODB_DB_NAME: "enbuild"
  CORS_ORIGINS: '{{ .Values.enbuildCTF.cors_origins }}'
  LOG_LEVEL: "{{ .Values.enbuildCTF.log_level }}"
  LOG_FORMAT: "json"
  AWS_REGION: "{{ .Values.enbuildCTF.aws_region }}"
  {{- end }}
