{{- if .Values.lightning_features.deploy_lightning.ai_lightning -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-enbuild-ai
  labels:
    app: ai
    app.kubernetes.io/component: ai
    helm.sh/chart: {{ include "enbuild-helm-chart.chart" . }}
    app.kubernetes.io/name: {{ include "enbuild-helm-chart.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    {{- if .Chart.AppVersion }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    {{- end }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.enbuildAI.replicas }}
  selector:
    matchLabels:
      app: ai
      app.kubernetes.io/component: ai
      app.kubernetes.io/name: {{ include "enbuild-helm-chart.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: ai
        app.kubernetes.io/component: ai
        app.kubernetes.io/name: {{ include "enbuild-helm-chart.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- if .Values.enbuildAI.serviceAccount.create }}
      serviceAccountName: {{ .Release.Name }}-enbuild-ai
      {{- else }}
      serviceAccountName: default
      {{- end }}
      containers:
      - env:
        - name: MAX_CONTEXT_LENGTH
          value: "1001"
        - name: AUTH_API_URL
          value: "http://{{ .Release.Name }}-enbuild-user/api/v1/roles/auth"
        - name: MONGODB_ENDPOINT
          value: mongodb://$(MONGO_INITDB_ROOT_USERNAME):$(MONGO_INITDB_ROOT_PASSWORD)@$(MONGO_SERVER)
        envFrom:
        - secretRef:
            name: {{ .Release.Name }}-mongo-secrets
        - secretRef:
            name: {{ .Release.Name }}-backend-secret
        imagePullPolicy: {{ .Values.global.image.pullPolicy }}
        image: {{ .Values.global.image.registry }}/{{ .Values.enbuildAI.image.repository }}:{{ default .Chart.AppVersion (default .Values.global.AppVersion .Values.enbuildAI.image.tag) }}
        name: enbuild-ai
        ports:
        - containerPort: 8000
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          runAsGroup: 1001
          runAsNonRoot: true
          readOnlyRootFilesystem: false
          runAsUser: 1001
        # livenessProbe:
        #   httpGet:
        #     path: /health
        #     port: 8000
        #   initialDelaySeconds: 30
        #   timeoutSeconds: 10
        # readinessProbe:
        #   httpGet:
        #     path: /health
        #     port: 8000
        #   initialDelaySeconds: 5
        #   timeoutSeconds: 3
{{- if .Values.global.image.registry_credentials }}
      imagePullSecrets:
      - name: {{ .Release.Name }}-image-pull-secret
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-enbuild-ai
  labels:
    app: ai
    app.kubernetes.io/component: ai
    helm.sh/chart: {{ include "enbuild-helm-chart.chart" . }}
    app.kubernetes.io/name: {{ include "enbuild-helm-chart.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    {{- if .Chart.AppVersion }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    {{- end }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: {{ .Values.enbuildAI.service_type }}
  selector:
    app: ai
    app.kubernetes.io/component: ai
    app.kubernetes.io/name: {{ include "enbuild-helm-chart.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8000
{{- end }}
