{{- if and .Values.lightning_features.deploy_lightning.ai_lightning .Values.enbuildAI.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-enbuild-ai
  labels:
    app: ai
    app.kubernetes.io/component: ai
  {{- include "enbuild-helm-chart.labels" . | nindent 4 }}
  {{- with .Values.enbuildAI.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
