apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-frontend-config
  labels:
  {{- include "enbuild-helm-chart.labels" . | nindent 4 }}
data:
  config.js: |
    window.ENV_VAR = {
{{- if .Values.enbuildMl.enabled }}
      REACT_APP_JUPYTER_NOTEBOOK_URL: "{{ template "jupyterhubUrl" . }}",
{{- end }}
      REACT_APP_API_DOMAIN_PRODUCTION: "/enbuild-bk",
      REACT_APP_API_ML_DOMAIN_PRODUCTION: "/enbuild-ml",
      REACT_APP_API_REQUEST_DOMAIN_PRODUCTION: "/enbuild-request",
      REACT_APP_API_USER_DOMAIN_PRODUCTION: "/enbuild-user",
      REACT_APP_API_GEN_AI_PRODUCTION: "/enbuild-genai",
      REACT_APP_SERVICE_MESH_KIALI_IFRAME_URL: "{{ .Values.enbuildUi.kiali_url }}",
      REACT_APP_MONITORING_GRAFANA_IFRAME_URL: "{{ .Values.enbuildUi.grafana_url }}",
      REACT_APP_COST_UTILIZATION_KUBECOST_IFRAME_URL: "{{ .Values.enbuildUi.kubecost_url }}",
      REACT_APP_LOGS_GRAFANA_IFRAME_URL: "{{ .Values.enbuildUi.loki_url }}",
      REACT_APP_FEATURE_FLAG: "deleteStack,cloneStack,operations{{- if .Values.enbuildMl.enabled -}},ml{{- end }}{{- if .Values.enbuildGenAI.enabled -}},genai{{- end }}",
    };
