apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-frontend-config
  labels:
  {{- include "enbuild-helm-chart.labels" . | nindent 4 }}
data:
  config.js: |
    window.ENV_VAR = {
    {{- if .Values.lightning_features.develop_lightning.models }}
      REACT_APP_JUPYTER_NOTEBOOK_URL: "/jupyter/",
    {{- end }}
    {{- if .Values.lightning_features.operations_lightning.headlamp }}
      REACT_APP_HEADLAMP_URL: "/headlamp/",
    {{- end }}
    {{- if .Values.lightning_features.develop_lightning.application }}
      REACT_APP_LIGHTNING_APP_IFRAME_URL: "/bolt/",
    {{- end }}
    {{- if .Values.lightning_features.secure_lightning.ctf }}
      REACT_APP_CTF_URL: "/ctf/api/v2",
    {{- end }}
      REACT_APP_API_DOMAIN_PRODUCTION: "/enbuild-bk",
      REACT_APP_API_REQUEST_DOMAIN_PRODUCTION: "/enbuild-request",
      REACT_APP_API_USER_DOMAIN_PRODUCTION: "/enbuild-user",
      REACT_APP_API_GEN_AI_PRODUCTION: "/enbuild-ai",
      REACT_APP_API_OLLAMA_PRODUCTION: "/enbuild-ai",
      REACT_APP_SERVICE_MESH_KIALI_IFRAME_URL: "{{ .Values.enbuildUi.kiali_url }}",
      REACT_APP_MONITORING_GRAFANA_IFRAME_URL: "{{ .Values.enbuildUi.grafana_url }}",
      REACT_APP_COST_UTILIZATION_KUBECOST_IFRAME_URL: "{{ .Values.enbuildUi.kubecost_url }}",
      REACT_APP_LOGS_GRAFANA_IFRAME_URL: "{{ .Values.enbuildUi.loki_url }}",
    };
  featureFlags.json: |
    {{- $flags := dict
      "develop_lightning" (dict
        "application" (.Values.lightning_features.develop_lightning.application | default false)
        "models" (.Values.lightning_features.develop_lightning.models | default false)
      )
      "secure_lightning" (dict
        "ctf_lightning" (.Values.lightning_features.secure_lightning.ctf | default false)
      )
      "deploy_lightning" (dict
        "infra_lightning" (dict
          "delete_stack" true
          "clone_stack" true
          "request" true
        )
        "ai_lightning" (dict
          "deploy_models" (.Values.lightning_features.deploy_lightning.ai_lightning | default false)
          "fabric" (.Values.lightning_features.deploy_lightning.ai_lightning | default false)
          "link" (.Values.lightning_features.deploy_lightning.ai_lightning | default false)
        )
        "data_lightning" (.Values.lightning_features.deploy_lightning.data_lightning | default false)
      )
      "operations_lightning" (dict
        "operations" true
        "headlamp" (.Values.lightning_features.operations_lightning.headlamp | default false)
        "metrics" true
      )
    }}
    {{ $flags | toJson }}
